.app-fab {
  margin: 16px;
  z-index: 98;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.mdc-snackbar {
  z-index: 99;
}

.snackbar {
  padding: 0 24px 0 24px !important;
}

.snackbar-content {
  display: flex;
  align-items: center;
}